jupyter
ipykernel
lightgbm
scikit-learn==1.6.1
pandas
numpy
matplotlib
seaborn
mlflow
hyperopt
prefect
boto3
s3fs
fastapi
uvicorn
httpx
fastparquet
joblib
pyarrow
psycopg
evidently==0.6.7
pytest
streamlit